<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 配置bonecp数据源 -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		p:driverClass="com.mysql.jdbc.Driver"
		p:jdbcUrl="jdbc:mysql://localhost:3306/appinfodb"
		p:username="root" p:password="zxc"/>
	<!-- ??? -->
	<!-- <bean id="dataSource" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:db.properties"/>
	</bean>
	<bean class="com.jolbox.bonecp.BoneCPDataSource"
		p:properties-ref="dataSource"/>-->
		
	<!-- ssf对象 --><!-- ******* p:mapperLocations -->
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean" 
	p:dataSource-ref="dataSource"
	p:configLocation="classpath:mybatis.xml"
	p:mapperLocations="classpath:com/dao/**Mapper.xml" />
	<!-- 注入mapper 批量产生实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
	p:sqlSessionFactory-ref="ssf" p:basePackage="com.dao"/>
	<!-- 注入事务管理器 -->
	<bean id="txManager" 
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource"/>
	<!-- 配置基于注解驱动的声明式事务 -->
	<tx:annotation-driven transaction-manager="txManager"/>
	<!-- 将bean实例化到spring容器中		扫描基于注解的业务bean com.serviceImpl -->
	<context:component-scan base-package="com"/>
</beans>